.App {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #4AF626;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  max-width: 600px;
}

.list {
  text-align: left;
  margin-top: 2em;
}